.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: #00b374;
}
.inner_header{
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 100;
}
.logo_container h1 span{
    font-weight: 1000;
}
.navigation{
    float: right;
    height: 50%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 6px 5px;
    color: white;
}
.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{    
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
    padding: 6px 5px;
}
