.body{
    /* position: relative; */
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registration-form{
    width: 300px;           /* Set this to your convenience */
            /* Set this to your convenience */
    /* position: absolute;
    top:50%;
    left: 50%; */
    /* margin-top: -100px;    
    margin-left: -150px;      */
}
.registration-form h4{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.registration-form p{
    font-size: 20px;
    margin: 15px 0;
}
.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}
.registration-form button:hover{
    color: red;
}
