.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #00b374;
    color: white;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 15px 140px;
}
.box h2{
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background-color: #40538f;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background-color: #f12020;
}